//TODO frame for FAQ
.bg-faq{
  background-image: url("@/assets/image/faq-frame.png");
  background-repeat: no-repeat;
  background-position: center;
  //background-size: cover;
  background-size: 100% auto;
}